<!DOCTYPE html>

<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Rails360</title>

    <!-- Google Analytics -->
    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-107700424-1', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
    <!-- End Google Analytics -->
  </head>

  <body>
    <div class="header">
      <nav class="navbar navbar-inverse navbar-static-top navbar-default">
        <div class="container">

          <div class="navbar-header">
            <a href="/" class="navbar-brand" data-turbolinks="false"><b>Rails</b>360</a>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to I18n.t("common.topic_list"), topics_path %></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopu="true" aria-expanded="false"><%= I18n.t("common.node_list") %></a>
                <ul class="dropdown-menu">
                <% Node.where(publish: true).find_each do |node| %>
                  <li><a href="<%= node_path(node) %>"><%= node.title %></a></li>
                <% end %>
                </ul>
              </li>
            </ul>

            <%= render "common/user_nav" %>
          </div>

        </div>
      </nav>
    </div>

    <div id="main" class="main-container container">
      <%= notice_message %>
      <%= yield %>
    </div>

    <%#= render 'common/footer' %>
  </body>
</html>

<script type="text/javascript">
  // 设置语言
  App.locale = "<%= I18n.locale %>";
</script>
